[includeIf "gitdir:crumbl/"]
        path=.gitconfig-work
[includeIf "gitdir:personal/"]
        path=.gitconfig-personal
[includeIf "gitdir:jaxed/"]
        path=.gitconfig-personal
[includeIf "gitdir:forks/"]
        path=.gitconfig-personal
[user]
	name = Zack Smith
	email = zack.t.smith37@gmail.com
	signingkey = D6C4C4977DD89A23
[push]
	default = simple
	autoSetupRemote = true
[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[core]
	ignorecase = true
        pager = delta
[diff]
	renames = copies
[http]
	[sslVerify]
[alias]
	a = add -A
	st = status
	co = checkout
	diff = diff -w
	pr = remote prune origin
	fp = fetch --prune
	ci = commit -m
        undo = "!f() { git reset HEAD~$1 --soft; }; f"
	fixup = "!git commit --fixup=HEAD; git rebase -i --autosquash HEAD~2"
        update = "!f(){ git fetch origin \"$1\" && git pull --rebase --autostash origin \"$1\"; }; f"
        cleanup = "!git branch --merged | egrep -v \"(^\\*|master)\" | xargs git branch -d"
        wip = "!f() { \
                if [ \"$(git log -1 --pretty=%B)\" = \"wip\" ]; then \
                  git add -A && git commit --amend --no-edit --no-verify; \
                else \
                  git add -A && git commit -m \"wip\" --no-verify; \
                fi \
        }; f"
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[credential]
        helper = osxkeychain
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[mergetool "p4merge"]
        cmd = /Applications/p4merge.app/Contents/MacOS/p4merge "$BASE" "$LOCAL" "$REMOTE" "$MERGED"
        keepTemporaries = false
        trustExitCode = false
        keepBackup = false
[mergetool "code"]
        cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[difftool "p4merge"]
        cmd = /Applications/p4merge.app/Contents/MacOS/p4merge "$LOCAL" "$REMOTE"
[merge]
	tool = p4merge
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[mergetool]
	prompt = false
        keepBackup = false
[diff]
	tool = p4merge
	colorMoved = default
[pull]
	rebase = true
[init]
	defaultBranch = main
[fetch]
	prune = true
[rebase]
	autostash = true
	autoSquash = true
[delta]
        features = side-by-side line-numbers decorations dark
        plus-style = "syntax #003800"
        minus-style = "syntax #3f0001"
        syntax-theme = Monokai Extended
        navigate = true
        true-color = always
        hyperlinks = true
        hyperlinks-file-link-format = "vscode://file/{path}:{line}"

[interactive]
        diffFilter = delta --color-only
[commit]
	gpgsign = false
[rerere]
	enabled = true
